<div class="border result center">
    <figure class="center-block">
        <img src="/{{logo}}{{avatar}}" class="j-avatar" title="{{name}}{{type_exp}} {{f_name}} {{l_name}}'s Avatar" alt="{{name}}{{type_exp}} {{f_name}} {{l_name}}'s Avatar">
        {{#if username}}
        <p title="{{name}}{{type_exp}} {{f_name}} {{l_name}}"><a href="/profile/{{username}}{{code}}">{{name}}{{type_exp}} {{f_name}} {{l_name}}</a> {{#if verified}}<img src="/img/img-1/success.png" class="verified" title="Verified Account" alt="Verified Account">{{/if}}</p>
        | @{{username}} |
        {{else}}
        <p title="{{name}}{{type_exp}} {{f_name}} {{l_name}}"><a href="/profile/{{username}}{{code}}">{{name}}{{type_exp}} {{f_name}} {{l_name}}</a> {{#if verified}}<img src="/img/img-1/success.png" class="verified" title="Verified Account" alt="Verified Account">{{/if}}</p>
        | @{{code}} |
        {{/if}}
    </figure>
    <br>
    <p class="deep-grey-text">{{description}}</p>
</div>