<div class="sug-org">
    <figure class="sug-org-logo">
        <img src="/{{logo}}" class="sug-org-logo-img" alt="{{name}}'s Logo" title="{{name}}">
    </figure>
    <div class="sug-org-dets center bold">
        <p><a href="/profile/{{username}}">{{name}}</a>{{#if verified}}<img src="/img/img-1/success.png" class="verified" title="Verified Account" alt="Verified Account">{{/if}}</p>
        <p>
            <span class="grey">Media Organisation</span>
            <br>
            {{followersNo}} Followers
        </p>
        <button class="follow-btn" id="follow-btn" onclick="follow('{{username}}', 'org');">Follow</button>
    </div>
</div>