<head>
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/uikit/js/uikit.js"></script>
    <title>Town Hall Administrator</title>
</head>

<body uk-grid>
    <div class="leftbar content center uk-width-1-2@m uk-width-1-1@s">
        <div class="uk-width-2-3 block-center uk-card uk-card-hover uk-card-default uk-card-body">
            <h3 class="uk-card-title center">Town Hall Administrator</h3>
            <div class="uk-form-success" id="notifDiv">{{notif}}</div>
            <div class="uk-form-danger" id="errorDiv">{{error}}</div>
            <form action="/admin" id="form" method="post">
                <input type="text" class="uk-input" name="f_name" id="f_name" placeholder="Enter First Name">
                <input type="text" class="uk-input" name="l_name" id="l_name" placeholder="Enter Last Name">
                <br>
                <br>
                Senator: <input type="radio" class="uk-radio" name="type" id="type" value="sen">
                Representative: <input type="radio" class="uk-radio" name="type" id="type" checked="checked" value="rep">
                <br>
                <br>
                Female <input type="radio" class="uk-radio" name="gender" id="gender" value="f">
                Male <input type="radio" class="uk-radio" name="gender" id="gender" checked="checked" value="m">
                <br>
                <br>
                <input type="text" class="uk-input" name="state" id="state" placeholder="State Name">
                <input type="text" class="uk-input" name="s_code" id="s_name" placeholder="State shortcode. Two letters, lowercase">
                <input type="text" class="uk-input" name="district" id="district" placeholder="District Name">
                <input type="text" class="uk-input" name="d_code" id="d_name" placeholder="District shortcode. Three letters, lowercase">
                <br>
                <br>
                <button type="submit" class="button">Add Legislator</button>
            </form>
        </div>
    </div>
    <div class="sidebar content uk-width-1-2@m uk-width-1-1@s">
        <div class="states uk-card uk-card-primary uk-card-body">
            <h3 class="uk-card-title center">Available States and Districts</h3>
            <ol>
                {{#each states}}
                <li class="bold-text">{{name}} | {{state_code}}</li>
                Senatorial districts:
                <ul>
                    {{#each sen_dists}}
                    <li>{{name}} | {{dist_code}} | {{rep}}</li>
                    {{/each}}
                </ul>
                Representative districts:
                <ul>
                    {{#each rep_dists}}
                    <li>{{name}} | {{dist_code}} | {{rep}}</li>
                    {{/each}}
                </ul>
                {{/each}}
            </ol>
        </div>
    </div>
    <script>
        $(() => {
            $('#form').on('submit', (event) => {
                if (!validate()) {
                    event.preventDefault();
                }
            });
        });

        let clearErr = () => {
            setTimeout(() => {
                document.getElementById('errorDiv').textContent = '';
            }, 5000);
        }

        let throwErr = (err) => {
            window.scrollTo(0, 0);
            document.getElementById('errorDiv').textContent = err;
            clearErr();
        }

        let clearNotif = () => {
            setTimeout(()=>{
                document.getElementById('notifDiv').textContent = '';
            }, 5000)
        }
        
        clearErr();
        clearNotif();

        function validate() {
            let f_name = $('#f_name').val();
            let l_name = $('#l_name').val();
            let state = $('#state').val();
            let s_name = $('#s_name').val();
            let district = $('#district').val();
            let d_name = $('#d_name').val();
            let radio = () => {
                var checked = false;
                if (document.getElementsByName('type')[0].checked) {
                    checked = true;
                }
                if (document.getElementsByName('type')[1].checked) {
                    checked = true;
                }
                return checked;
            }
            let gen = () => {
                var genderSel = false;
                if (document.getElementsByName('gender')[0].checked) {
                    genderSel = true;
                }
                if (document.getElementsByName('gender')[1].checked) {
                    genderSel = true;
                }
                return genderSel;
            }
            let wsp = /^\s*$/;

            let test = (param) => {
                return wsp.test(param);
            }

            if (test(f_name) || test(l_name) || test(state) || test(s_name) || test(district) || test(d_name) || !radio() || !gen()) {
                throwErr("All fields are required");
                return false;
            }
            else {
                return true;
            }
        }
    </script>
</body>