<head>
    <title>{{f_name}} {{l_name}} | Town Hall</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/profile-render.css">
    <link rel="stylesheet" href="/css/messages.css">
    <script src="/js/jquery-3.3.1.js"></script>
</head>
<body class="j">
    <section class="content center b" id="leftBar">
         <figure class="">
            <div class="avatarDiv">
                <img id="avatar" class="avatar" src="/{{avatar}}" alt="{{f_name}}'s Avatar">
            </div>
        </figure>
        <br>
        <div id="avatarText" class="center">
            {{f_name}} {{l_name}}
        </div>
        <br />
        <div class="info">
            {{#beatDets}}
            <div class="bold">Reporting on {{name}} {{type_name}}</div>
            {{/beatDets}}
            <br>
            {{#if organisation}}
            <div>
                <a href="/profile/{{organisation}}">{{orgName}}</a> Journalist
            </div>
            {{else}}
            <div>
                <span class="bold">Freelance Journalist</span>
            </div>
            {{!-- if not following - global code --}}
            {{!-- <div><a href="/follow/u/j/{{username}}">Follow</a></div> --}}
            {{/if}}
            <br>
            <br>
            <div>
                <span class="bold">Followers: </span>
                <span>{{followersNo}}</span>
            </div>
        </div>
    </section>
    <section class="content center" id="main">
        <h3 class="center">{{f_name}} {{l_name}}'s Posts</h3>
        {{>messages}}
    </section>
</body>