<head>
    <title>{{type_exp}} {{full_name}} | Town Hall</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/profile-render.css">
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <link rel="stylesheet" href="/css/messages.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/uikit/js/uikit.js"></script>
    <script src="/uikit/js/uikit-icons.js"></script>
    <script src="/js/extract_tags_render.js"></script>
    <script src="/js/conversation.js"></script>
    <script src="/js/trends.js"></script>
    <script src="/js/follow.js"></script>
</head>

<body uk-grid>
    <section class="content center uk-width-1-5@m uk-width-1-3@s" id="leftBar">
        <div>
            <figure>
                <img src="/{{avatar}}" class="avatar" id="avatar" alt="{{f_name}}'s Avatar">
                <br><br>
                <figcaption>{{type_exp}} {{full_name}}</figcaption>
            </figure>
        </div>
        <div class="dets">
            <div class="dist bold">
                Representing {{district}}, {{state}} State
            </div>
            <br>
            <div class="follow">
                {{#if canFollow}}
                {{#if following}}
                <button id="unfollowBtn" class="followBtn" onclick="unfollow('{{code}}');">Unfollow</button>
                {{else}}
                <button id="followBtn" class="followBtn" onclick="follow('{{code}}');">Follow</button>
                {{/if}}
                {{/if}}
            </div>
            <br>
            <div>
                {{const_num}} Town Hall Constituents
            </div>
            <div>
                <a href="/followers/{{code}}" class="white">Followers: <span id="follCount">{{followersNo}}</span></a>
            </div>
            <br><br>
        </div>
    </section>
    <section class="content center uk-width-3-5@m uk-width-2-3@s" id="main">
        <div class="left uk-visible@s">
            <a href="/">Back to Home</a>
        </div>
        <div>
            <div class="errorDiv" id="errorDiv"></div>
        </div>
        <div class="tabs center">
            <button class="tabBtn active" id="pBtn">Posts</button>
            <button class="tabBtn" id="rBtn">Reporting</button>
        </div>
        <div class="tab-content" id="posts">
            {{#if messages}}
            {{#each messages}}
            {{>messages}}
            {{/each}}
            {{else}}
            <h4 class="center grey">{{type_exp}} {{full_name}} has no Posts</h4>
            {{/if}}
        </div>
        <div class="tab-content hidden" id="rep">
            {{#if b_msgs}}
            {{#each b_msgs}}
            {{>messages}}
            {{/each}}
            {{else}}
            <h4 class="center grey">There is not yet any reporting on {{type_exp}} {{full_name}}</h4>
            {{/if}}
        </div>
        {{>modal}}
    </section>
    <section class="content center uk-width-1-5@m uk-visible@m" id="rightBar">
        <div class="center" id="rightContent">
            <h4><a href="javascript:void();" title="Click to view more" class="white">Trending Now</a></h4>
            <div id="tr-err"></div>
            <div class="trends" id="trends">

            </div>
        </div>
    </section>
    <script>
        reqTrends();

        let activeTab = 0;

        document.getElementById('pBtn').addEventListener('click', ()=>{
            switchTabs(0);
        });
        
        document.getElementById('rBtn').addEventListener('click', ()=>{
            switchTabs(1);
        });

        function switchTabs(num){
            if(num === 0 && activeTab !== 0){
                document.getElementById('rep').classList += ' hidden';
                document.getElementById('posts').className = 'tab-content';
                document.getElementById('pBtn').classList += ' active';
                document.getElementById('rBtn').className = 'tabBtn';
                activeTab = 0;
            }
            else if(num === 1 && activeTab !== 1) {
                document.getElementById('posts').classList += ' hidden';
                document.getElementById('rep').className = 'tab-content';
                document.getElementById('rBtn').classList += ' active';
                document.getElementById('pBtn').className = 'tabBtn';
                activeTab = 1;
            }
        }
    </script>
</body>