<head>
    <title>{{type_exp}} {{full_name}} | Town Hall</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/profile-render.css">
    <link rel="stylesheet" href="/css/messages.css">
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/uikit/js/uikit.js"></script>
    <script src="/js/extract_tags_render.js"></script>
    <script src="/js/conversation.js"></script>
    <script src="/js/follow.js"></script>
</head>
<body class="l">
    <section class="content center b" id="leftBar">
        <div>
            <figure>
                <img src="/{{avatar}}" class="avatar" id="avatar" alt="{{f_name}}'s Avatar">
                <br><br>
                <figcaption>{{type_exp}} {{full_name}}</figcaption>
            </figure>
        </div>
        <div class="dets">
            <div class="dist bold">
                Representing {{district}}, {{state}} State
            </div>
            <br>
            <div class="follow">
                {{#if canFollow}}
                {{#if following}}
                <button id="unfollowBtn" class="followBtn" onclick="unfollow('{{code}}');">Unfollow</button>
                {{else}}
                <button id="followBtn" class="followBtn" onclick="follow('{{code}}');">Follow</button>
                {{/if}}
                {{/if}}
            </div>
            <br>
            <div>
                {{const_num}} Town Hall Constituents
            </div>
            <br><br>
        </div>
    </section>
    <section class="content center" id="main">
        <div class="errDiv">
            <div class="errorDiv" id="errorDiv"></div>
        </div>
        <h3 class="center">{{type_exp}} {{full_name}}'s Posts</h3>
        {{#if messages}}
        {{#each messages}}
        {{>messages}}
        {{/each}}
        {{else}}
        <h4 class="center grey">{{type_exp}} {{full_name}} has no Posts</h4>
        {{/if}}
        {{>modal}}
    </section>
</body>