<head>
    <title>{{name}} | Town Hall</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/profile-render.css">
    <link rel="stylesheet" href="/css/messages.css">
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/uikit/js/uikit.js"></script>
    <script src="/js/extract_tags_render.js"></script>
    <script src="/js/conversation.js"></script>
</head>
<body class="o">
    <section class="content center b" id="leftBar">
         <figure class="">
            <div class="avatarDiv">
                <img id="avatar" class="avatar" src="/{{logo}}" alt="{{name}}'s Logo">
            </div>
        </figure>
        <br>
        <div id="avatarText" class="center">
            {{name}} | @{{username}}
        </div>
        <br />
        <div class="info">
            <div class="bold">{{journo_num}} Town Hall Journalists</div>
            <div class="bold">{{followersNo}} Followers</div>
            <br>
            <p>
                <a href="mailto:{{pub_email}}">Contact {{name}}</a>
            </p>
            <br>
            <br>
        </div>
    </section>
    <section class="content center" id="main">
        <h3 class="center">{{name}}'s Posts</h3>
        {{#each messages}}
        {{>messages}}
        {{/each}}
        {{>modal}}
    </section>
</body>