<head>
    <title>Search Results for {{term}}</title>
    <link rel="stylesheet" href="/css/search-res.css">
    <link rel="stylesheet" href="/css/search-result.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <link rel="stylesheet" href="/css/messages.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/uikit/js/uikit.js"></script>
    <script src="/uikit/js/uikit-icons.js"></script>
    <script src="/js/extract_tags_render.js"></script>
    <script src="/js/conversation.js"></script>
    <script src="/js/map_char.js"></script>
    <script src="/js/trends.js"></script>
</head>
<body uk-grid>
    <section class="content center uk-width-1-5@m uk-width-1-4@s" id="leftBar">
        <div class="center" id="leftContent">
            <figure id="avatarFig">
                {{#if avatar}}
                <a href="/"><img src="/{{avatar}}{{logo}}" class="avatar br" title="{{f_name}}'s Avatar" alt="{{f_name}}'s Avatar"></a>
                {{/if}}
                {{#if logo}}
                <a href="/"><img src="/{{avatar}}{{logo}}" class="avatar br" title="{{f_name}}'s Avatar" alt="{{f_name}}'s Avatar"></a>
                {{/if}}
            </figure>
            <div class="sug-content" id="suggestions">
                {{#if suggestions}}
                <h4>Search suggestions</h4>
                <div class="suggestions">
                    {{#each suggestions}}
                    <a href="{{href}}"><p>{{s_type}}{{name}}</p></a>
                    {{/each}}
                </div>
                {{else}}
                <h4>No available suggestions</h4>
                {{/if}}
            </div>
        </div>
    </section>
    <section class="content center uk-width-3-5@m uk-width-3-4@s" id="centerBar">
        <div>
            <div class="errorDiv" id="errorDiv"></div>
        </div>
        <div class="left">
            <a href="/">Back to Home</a>
        </div>
        <br>
        <div class="center" id="main">
            <form action="javascript:search();" id="search" autocomplete="off" method="get">
                <input type="search" maxlength="100" name="term" class="search br" id="searchBox" value="{{term}}" placeholder="Search Town Hall">
                <div id="suggs" class="searchSuggs hidden">
                    <div id="searchSugg" class="searchSugg">
                        
                    </div>
                </div>
            </form>
            {{#if results}}
            <div class="results left">
                {{#if accounts}}
                <div class="accounts">
                    {{#each accounts}}
                    {{>search-result}}
                    {{/each}}
                </div>
                {{/if}}
                {{#if messages}}
                <br>
                <div class="messages">
                    {{#each messages}}
                    {{>messages}}
                    {{/each}}
                    {{>modal}}
                </div>
                {{/if}}
            </div>
            {{else}}
            {{/if}}
        </div>
    </section>
    <section class="content center uk-width-1-5@m uk-visible@m" id="rightBar">
        <div class="center" id="rightContent">
            <h4><a href="javascript:void();" title="Click to view more">Trending Now</a></h4>
            <div id="tr-err"></div>
            <div class="trends" id="trends">
                
            </div>
        </div>
    </section>
    <script>
        function search(){
            let terms = document.getElementById('searchBox').value;
            terms = terms.split('');
            let fin_terms = [];
            terms.forEach(term => {
                fin_terms.push(mapChar(term));
            });
            terms = fin_terms.join('');
            location.assign('/search/general/'+terms);
        }

        let active = false;
        document.getElementById('suggs').addEventListener('mouseover', ()=>{
            active = true;
        });
        document.getElementById('suggs').addEventListener('mouseout', ()=>{
            active = false;
        });
        document.getElementById('searchBox').addEventListener('focus', ()=>{
            document.getElementById('suggs').className = 'searchSuggs';
        });
        document.getElementById('searchBox').addEventListener('blur', ()=>{
            if(!active){
                document.getElementById('suggs').classList += ' hidden';
            }
        });

        //search suggestions
        document.getElementById('searchBox').addEventListener('input', ()=>{
            //document.getElementById('searchSugg').className = 'searchSugg';
            let text = $('#searchBox').val();
            $.ajax({
                url: '/autofill/',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    term: text
                }),
                success: (data)=>{
                    autofill(data.data);
                }
            });
        });

        function autofill(data){
            let searchSugg = document.getElementById('searchSugg');
            searchSugg.innerHTML = '';
            data.forEach(datum => {
                let dataA = document.createElement('a');
                dataA.setAttribute('href', datum.href);
                dataA.setAttribute('class', 'sugg');
                let d_type = datum.type;
                let dataText = document.createTextNode(datum.name);
                if(d_type == 'tag'){
                    dataText = document.createTextNode('#'+datum.name);
                }
                else if(d_type == 'people'){
                    dataText = document.createTextNode('@'+datum.name);
                }

                dataA.appendChild(dataText);
                searchSugg.appendChild(dataA);
                activeSugg = -1;
            });
        }

        function follow(username, org_type){
            $.ajax({
                url: '/follow/u/'+org_type+'/'+username,
                method: 'POST',
                error: ()=>{
                    alert("An error occured. Please check your Internet connection");
                },
                success: (data)=>{
                    if(data.success){
                        location.reload(true);
                    }
                    else {
                        setErr(data.error);
                    }
                }
            });
        }

        function getSuggs(){
            let suggArr = document.getElementsByClassName('sugg');
            return suggArr;
        }

        let activeSugg = -1;
        document.getElementById('searchBox').addEventListener('keydown', (ev) => {
            if(ev.which == 40){
                //down arrow
                let suggs = getSuggs();
                if(suggs.length > 0){
                    activeSugg++;
                    if(suggs[activeSugg]){
                        for(let i=0; i < suggs.length; i++){
                            suggs[i].className = 'sugg';
                        }
                        suggs[activeSugg].classList += ' activeSugg';
                    }
                    else {
                        activeSugg--;
                    }
                }
            }
            else if(ev.which == 38){
                //up arrow
                let suggs = getSuggs();
                if(suggs.length > 0){
                    activeSugg--;
                    if(suggs[activeSugg]){
                        for(let i=0; i < suggs.length; i++){
                            suggs[i].className = 'sugg';
                        }
                        suggs[activeSugg].classList += ' activeSugg';
                    }
                    else {
                        activeSugg++;
                    }
                }
            }
            else if (ev.which == 13){
                //enter key
                ev.preventDefault();
                let suggs = getSuggs();
                if(suggs.length > 0 && suggs[activeSugg]){
                    document.getElementById('searchBox').value = suggs[activeSugg].textContent;
                    location.assign(suggs[activeSugg].href);
                }
                else {
                    search();
                }
            }
            else if(ev.which == 27){
                //escape key
                ev.preventDefault();
                document.getElementById('searchSugg').classList += ' hidden';
            }
        });
        
    reqTrends();
    </script>
</body>