<head>
    <title>Search Results for {{term}}</title>
    <link rel="stylesheet" href="/css/search-res.css">
    <link rel="stylesheet" href="/css/search-result.css">
    <link rel="stylesheet" href="/css/messages.css">
</head>
<body class="{{tint}}">
    <section class="content b" id="leftBar">
        <div class="center" id="leftContent">
            <figure>
                {{#if avatar}}
                <a href="/"><img src="/{{avatar}}{{logo}}" class="avatar br" title="{{f_name}}'s Avatar" alt="{{f_name}}'s Avatar"></a>
                {{/if}}
                {{#if logo}}
                <a href="/"><img src="/{{avatar}}{{logo}}" class="avatar br" title="{{f_name}}'s Avatar" alt="{{f_name}}'s Avatar"></a>
                {{/if}}
            </figure>
            <div class="sug-content" id="suggestions">
                <h4>Search suggestions</h4>
                <div class="suggestions left">
                    <p><a href="javascript:void()">Something to search perhaps</a></p>
                </div>
            </div>
            <div class="sug-content" id="previous">
                <h4>Previous searches</h4>
                <div class="suggestions left">
                    <p><a href="javascript:void()">Something to search perhaps</a></p>
                    <p class="center small" id="clear"><a href="javascript:void()">Clear History</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="content" id="centerBar">
        <div class="center" id="main">
            <form action="/search/general/term" method="get">
                <input type="search" maxlength="100" name="term" class="search br" id="searchBox" value="{{term}}" placeholder="Search Town Hall">
            </form>
            {{#if results}}
            <div class="results left">
                {{#if accounts}}
                <div class="accounts">
                    {{>search-result}}
                </div>
                {{/if}}
                {{#if messages}}
                <div class="messages">
                    {{>messages}}
                </div>
                {{/if}}
            </div>
            {{else}}
            <div class="error">{{error}}</div>
            {{/if}}
        </div>
    </section>
    <section class="content b" id="rightBar">
        <div class="center" id="rightContent">
            <h4>Trending Now</h4>
            <div class="trend br left">
                <p><a href="javascript:void()">Something to search perhaps</a></p>
                <p class="small grey-text center">250 talking about this</p>
            </div>
            <div class="trend br left">
                <p><a href="javascript:void()">Something to search perhaps</a></p>
                <p class="small grey-text center">250 talking about this</p>
            </div>
            <div class="trend br left">
                <p><a href="javascript:void()">Something to search perhaps</a></p>
                <p class="small grey-text center">250 talking about this</p>
            </div>
            <div class="trend br left">
                <p><a href="javascript:void()">Something to search perhaps</a></p>
                <p class="small grey-text center">250 talking about this</p>
            </div>
            <div class="trend br left">
                <p><a href="javascript:void()">Something to search perhaps</a></p>
                <p class="small grey-text center">250 talking about this</p>
            </div>
            <p class="more"><a href="javascript:void()">View more</a></p>
        </div>
    </section>
</body>