<head>
    <link rel="stylesheet" href="/css/select-beat.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <title>Select District | Town Hall</title>
</head>
<body>
    <div class="center-block center f-style">
        <h3>Select a District to report on</h3>
        {{#each states}}
        <div class="grey-text sub-heading">{{name}}</div>
        <div class="left">
            <div class="dist-heading">Federal Constituencies:</div>
            <table>
                {{#each fed_consts}}
                <tr><td><a href="/select-beat/{{../../username}}/{{code}}">{{name}}</a></td></tr>
                {{/each}}
            </table>
        </div>
        <div class="left">
            <div class="dist-heading">Senatorial Districts:</div>
            <table>
                {{#each sen_dists}}
                <tr><td><a href="/select-beat/{{../../username}}/{{code}}">{{name}}</a></td></tr>
                {{/each}}
            </table>
        </div>
        {{/each}}
    </div>
</body>