<head>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/suggestions.css">
    <link rel="stylesheet" href="/css/u-profile.css">
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <link rel="stylesheet" href="/css/messages.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/uikit/js/uikit.js"></script>
    <script src="/uikit/js/uikit-icons.js"></script>
    <script src="/js/extract_tags_render.js"></script>
    <script src="/js/conversation.js"></script>
    <script src="/js/map_char.js"></script>
    <script src="/js/trends.js"></script>
    <script src="/js/append.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/follow.js"></script>
    <title>{{f_name}}'s Account | Town Hall</title>
</head>

<body uk-grid>
    <section class="left-bar center bold content sidebar uk-width-1-5@m uk-width-1-3@s uk-visible@s">
        <div id="leftContent">
            <figure class="avatar center block-center">
                <div class="avatarDiv">
                    <img id="avatar" src="/{{avatar}}" alt="{{f_name}}'s Avatar">
                </div>
            </figure><br>
            <div id="avatarText">
                {{f_name}} | @{{username}}
            </div>
            <br>
            <div>
                {{state}} State
            </div>
            <br>
            <div>
                <a href="/settings/{{username}}" class="white">Settings</a>
            </div>
            <br>
            <div>
                <a href="/logout/u" class="white">Logout</a>
            </div>
        </div>
    </section>
    <section class="main content center uk-width-3-5@m uk-width-2-3@s">
        <div id="mainContent">
            <div>
                <div class="errorDiv" id="errorDiv"></div>
            </div>
            <section id="feed" class="tabSect">
                <form action="javascript:search();" id="search" autocomplete="off" method="get">
                    <input type="search" maxlength="100" name="term" class="search br" id="searchBox" placeholder="Search Town Hall">
                    <div id="suggs" class="searchSuggs hidden">
                        <div id="searchSugg" class="searchSugg">

                        </div>
                    </div>
                </form>
                <div class="messagesDiv uk-width-1-1">
                    {{>sources}}
                </div>
            </section>
        </div>
    </section>
    <section class="right-bar content right-sect uk-width-1-5@m uk-visible@m">
        <div id="rightContent">
            <section class="tabBar">
                <h4 class="center black">Your Representatives</h4>
                {{#rep}}
                <div class="rep">
                    <figure>
                        <img src="/{{avatar}}" alt="{{full_name}}'s Avatar" class="rep_avatar">
                    </figure>
                    <figcaption class="center">
                        <a href="/profile/{{code}}">{{type_exp}} {{full_name}}</a>
                    </figcaption>
                </div>
                {{/rep}}
                <hr>
                {{#sen}}
                <div class="rep">
                    <figure>
                        <img src="/{{avatar}}" alt="{{full_name}}'s Avatar" class="rep_avatar">
                    </figure>
                    <figcaption class="center">
                        <a href="/profile/{{code}}">{{type_exp}} {{full_name}}</a>
                    </figcaption>
                </div>
                {{/sen}}
            </section>
            <section class="tabBar hidden">
                <div class="center" id="rightContent">
                    <h4><a href="javascript:void();" title="Click to view more">Trending Now</a></h4>
                    <div id="tr-err"></div>
                    <div class="trends" id="trends">

                    </div>
                </div>
            </section>
        </div>
    </section>
    <script>
        $('#close').on('click', () => {
            document.getElementById('auto-sug').classList += ' hidden';
        });

        $('#close-m').on('click', () => {
            document.getElementById('sug-m').classList += ' hidden';
        });

        $('#close-d').on('click', () => {
            document.getElementById('sug-d').classList += ' hidden';
        });

        fullSearch();
        reqTrends();
    </script>
</body>