<head>
    <link rel="stylesheet" href="/css/suggestions.css">
    <link rel="stylesheet" href="/css/u-profile.css">
    <link rel="stylesheet" href="/css/messages.css">
    <script src="/js/jquery-3.2.1.js"></script>
    <title>{{f_name}}'s Account | Town Hall</title>
</head>
<body>
    <section class="left-bar center bold">
        <figure class="avatar center block-center">
            <div class="avatarDiv">
                <img id="avatar" src="/img/png/avatar.png" alt="Name's Avatar">
            </div>
        </figure><br>
        <div id="avatarText">
            {{f_name}} | @{{username}}
        </div>
        <br>
        <div>
            {{state}} State
        </div>
        <br>
        <div>
            <a href="/logout/u">Logout</a>
        </div>
    </section>
    <section class="main">
        <section id="feed" class="tabSect">
            <form action="javascript:void()" id="search" class="center" method="get">
                <input type="search" name="terms" id="searchBox" placeholder="Search Town Hall">
            </form>
            <div class="messagesDiv">
                {{>sources}}
            </div>
        </section>
    </section>
    <section class="right-bar">
        <section class="tabBar">
            <h4 class="center black">Your Representatives</h4>
            {{#rep}}
            <div class="rep">
                <figure>
                    <img src="{{avatar}}" alt="{{full_name}}'s Avatar" class="rep_avatar">
                </figure>
                <figcaption class="center">
                    <a href="/profile/{{code}}">{{type_exp}} {{full_name}}</a>
                </figcaption>
            </div>
            {{/rep}}
            <hr>
            {{#sen}}
            <div class="rep">
                <figure>
                    <img src="{{avatar}}" alt="{{full_name}}'s Avatar" class="rep_avatar">
                </figure>
                <figcaption class="center">
                    <a href="/profile/{{code}}">{{type_exp}} {{full_name}}</a>
                </figcaption>
            </div>
            {{/sen}}
        </section>
        <section class="tabBar hidden">
            <h4 class="center">Trends</h4>
            <ol class="trends">
                <li class="trend"><a href="/">The First</a></li>
                <li class="trend"><a href="/">The Second</a></li>
                <li class="trend"><a href="/">The Third</a></li>
            </ol>
        </section>
    </section>
    <script>
        //changing tabs
        let searchBar = document.getElementById('searchBox');
        let bars = document.getElementsByClassName('tabBar');
        let active = 1;
        let bar1 = bars[0];
        let bar2 = bars[1];

        searchBar.addEventListener('blur', ()=>{
            if (active !== 1){
                bar1.className = 'tabBar';
                bar2.classList += ' hidden';
                active = 1;
            }
        });
        searchBar.addEventListener('focus', ()=>{
            if(active !== 2){
                bar2.className = 'tabBar';
                bar1.classList += ' hidden';
                active = 2;
            }
        });

        // Follow org
        function follow(username, org_type){
            $.ajax({
                url: '/follow/u/'+org_type+'/'+username,
                method: 'POST',
                error: ()=>{
                    alert("An error occured. Please check your Internet connection");
                },
                success: (data)=>{
                    if(data.success){
                        location.reload(true);
                    }
                    else {
                        alert(data.error);
                    }
                }
            });
        }

        function search(){
            let terms = document.getElementById('searchBox').value;
            location.assign('/search/general/'+terms);
        }

        $('#close').on('click', ()=>{
            document.getElementById('auto-sug').classList += ' hidden';
        });

        $('#close-m').on('click', ()=>{
            document.getElementById('sug-m').classList += ' hidden';
        });

        $('#close-d').on('click', ()=>{
            document.getElementById('sug-d').classList += ' hidden';
        });

        $('#search').on('submit', search);
    </script>
</body>