<head>
    <link rel="stylesheet" href="/css/suggestions.css">
    <link rel="stylesheet" href="/css/u-profile.css">
    <link rel="stylesheet" href="/css/messages.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/map_char.js"></script>
    <title>{{f_name}}'s Account | Town Hall</title>
</head>
<body>
    <section class="left-bar center bold">
        <figure class="avatar center block-center">
            <div class="avatarDiv">
                <img id="avatar" src="/{{avatar}}" alt="{{f_name}}'s Avatar">
            </div>
        </figure><br>
        <div id="avatarText">
            {{f_name}} | @{{username}}
        </div>
        <br>
        <div>
            {{state}} State
        </div>
        <br>
        <div>
            <a href="/logout/u">Logout</a>
        </div>
    </section>
    <section class="main">
        <section id="feed" class="tabSect">
            <form action="javascript:search();" id="search" autocomplete="off" method="get">
                <input type="search" maxlength="100" name="term" class="search br" id="searchBox" value="{{term}}" placeholder="Search Town Hall">
                <div id="suggs" class="searchSuggs hidden">
                    <div id="searchSugg" class="searchSugg">
                        
                    </div>
                </div>
            </form>
            <div class="messagesDiv">
                {{>sources}}
            </div>
        </section>
    </section>
    <section class="right-bar">
        <section class="tabBar">
            <h4 class="center black">Your Representatives</h4>
            {{#rep}}
            <div class="rep">
                <figure>
                    <img src="{{avatar}}" alt="{{full_name}}'s Avatar" class="rep_avatar">
                </figure>
                <figcaption class="center">
                    <a href="/profile/{{code}}">{{type_exp}} {{full_name}}</a>
                </figcaption>
            </div>
            {{/rep}}
            <hr>
            {{#sen}}
            <div class="rep">
                <figure>
                    <img src="{{avatar}}" alt="{{full_name}}'s Avatar" class="rep_avatar">
                </figure>
                <figcaption class="center">
                    <a href="/profile/{{code}}">{{type_exp}} {{full_name}}</a>
                </figcaption>
            </div>
            {{/sen}}
        </section>
        <section class="tabBar hidden">
            <h4>Trending Now</h4>
            <div class="trend br left">
                <p><a href="javascript:void()">Something to search perhaps</a></p>
                <p class="small grey-text center">250 talking about this</p>
            </div>
        </section>
    </section>
    <script>
        //changing tabs
        let searchBar = document.getElementById('searchBox');
        let bars = document.getElementsByClassName('tabBar');
        let active = 1;
        let bar1 = bars[0];
        let bar2 = bars[1];

        //for suggestions
        let sActive = false;

        searchBar.addEventListener('blur', ()=>{
            if(!sActive){
                document.getElementById('suggs').classList += ' hidden';
            }
            if (active !== 1){
                bar1.className = 'tabBar';
                bar2.classList += ' hidden';
                active = 1;
            }
        });
        searchBar.addEventListener('focus', ()=>{
            document.getElementById('suggs').className = 'searchSuggs';
            if(active !== 2){
                bar2.className = 'tabBar';
                bar1.classList += ' hidden';
                active = 2;
            }
        });

        // Follow org
        function follow(username, org_type){
            $.ajax({
                url: '/follow/u/'+org_type+'/'+username,
                method: 'POST',
                error: ()=>{
                    alert("An error occured. Please check your Internet connection");
                },
                success: (data)=>{
                    if(data.success){
                        location.reload(true);
                    }
                    else {
                        alert(data.error);
                    }
                }
            });
        }

        
        document.getElementById('suggs').addEventListener('mouseover', ()=>{
            sActive = true;
        });
        document.getElementById('suggs').addEventListener('mouseout', ()=>{
            sActive = false;
        });
        document.getElementById('searchBox').addEventListener('focus', ()=>{
            {{!-- document.getElementById('suggs').className = 'searchSuggs'; --}}
        });
        document.getElementById('searchBox').addEventListener('blur', ()=>{
            {{!-- if(!sActive){
                document.getElementById('suggs').classList += ' hidden';
            } --}}
        });

        //search suggestions
        document.getElementById('searchBox').addEventListener('input', ()=>{
            let text = $('#searchBox').val();
            $.ajax({
                url: '/autofill/',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    term: text
                }),
                success: (data)=>{
                    autofill(data.data);
                }
            });
        });

        function autofill(data){
            let searchSugg = document.getElementById('searchSugg');
            searchSugg.innerHTML = '';
            data.forEach(datum => {
                let dataA = document.createElement('a');
                dataA.setAttribute('href', datum.href);
                dataA.setAttribute('class', 'sugg');
                let dataText = document.createTextNode(datum.name);

                dataA.appendChild(dataText);
                searchSugg.appendChild(dataA);
            });
        }

        function search(){
            let terms = document.getElementById('searchBox').value;
            terms = terms.split('');
            let fin_terms = [];
            terms.forEach(term => {
                fin_terms.push(mapChar(term));
            });
            terms = fin_terms.join('');
            location.assign('/search/general/'+terms);
        }

        $('#close').on('click', ()=>{
            document.getElementById('auto-sug').classList += ' hidden';
        });

        $('#close-m').on('click', ()=>{
            document.getElementById('sug-m').classList += ' hidden';
        });

        $('#close-d').on('click', ()=>{
            document.getElementById('sug-d').classList += ' hidden';
        });

        function getSuggs(){
            let suggArr = document.getElementsByClassName('sugg');
            return suggArr;
        }

        let activeSugg = -1;
        document.getElementById('searchBox').addEventListener('keydown', (ev) => {
            if(ev.which == 40){
                //down arrow
                let suggs = getSuggs();
                if(suggs.length > 0){
                    activeSugg++;
                    if(suggs[activeSugg]){
                        for(let i=0; i < suggs.length; i++){
                            suggs[i].className = 'sugg';
                        }
                        suggs[activeSugg].classList += ' activeSugg';
                    }
                    else {
                        activeSugg--;
                    }
                }
            }
            else if(ev.which == 38){
                //up arrow
                let suggs = getSuggs();
                if(suggs.length > 0){
                    activeSugg--;
                    if(suggs[activeSugg]){
                        for(let i=0; i < suggs.length; i++){
                            suggs[i].className = 'sugg';
                        }
                        suggs[activeSugg].classList += ' activeSugg';
                    }
                    else {
                        activeSugg++;
                    }
                }
            }
            else if (ev.which == 13){
                //enter key
                ev.preventDefault();
                let suggs = getSuggs();
                if(suggs.length > 0 && suggs[activeSugg]){
                    document.getElementById('searchBox').value = suggs[activeSugg].textContent;
                    location.assign(suggs[activeSugg].href);
                }
                else {
                    search();
                }
            }
            else if(ev.which == 27){
                //escape key
                ev.preventDefault();
                document.getElementById('searchSugg').classList += ' hidden';
            }
        });
    </script>
</body>