<head>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <link rel="stylesheet" href="/css/settings.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/uikit/js/uikit.js"></script>
    <script src="/uikit/js/uikit-icons.js"></script>
    <title>Account Settings | Town Hall</title>
</head>

<body>
    <div class="main" uk-grid>
        <div class="sect center uk-width-1-2@m uk-width-1-1@s" id="left">
            <h6 class="center notif" id="notif">{{notif}}</h6>
            <form action="/update/u/bio" enctype="multipart/form-data" method="post">
                <div class="avatarDiv">
                    <a href="/"><img id="avatar" class="avatar" src="/{{avatar}}" alt="Your Avatar"></a>
                    <div uk-form-custom>
                        <input type="file" name="avatar" id="avatarInp">
                        <span class="uk-link">Change Avatar</span>
                    </div>
                </div>
                <div class="larger black-txt">
                    {{f_name}}
                </div>
                <div class="larger black-txt">
                    @{{username}}
                </div>
                <br>
                <div class="larger">Bio</div>

                <textarea name="bio" id="bioTxt" maxlength="500" class="uk-textarea" placeholder="Let the Community know about you">{{bio}}</textarea>
                <div>
                    <span id="counter"></span>/500 characters
                </div>
                <div class="right">
                    <button type="submit" id="bioBtn" class="button">Save Changes</button>
                </div>
            </form>
        </div>
        <div class="sect uk-width-1-2@m uk-width-1-1@s" id="right">
            <h3 class="center">Account Details</h3>
            <div class="formDiv">
                <form class="uk-grid uk-form-stacked">
                    <div class="uk-width-1-2@m uk-width-1-1@s">
                        <label for="name">First Name</label>
                        <input type="text" name="f_name" id="f_name" required="required" class="uk-input" value="{{f_name}}">
                    </div>
                    <div class="uk-width-1-2@m uk-width-1-1@s">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" required="required" class="uk-input" value="{{username}}">
                    </div>

                    <div class="uk-width-1-2@m uk-width-1-1@s">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required="required" class="uk-input" value="{{email}}">
                    </div>
                    <div class="uk-width-1-2@m uk-width-1-1@s">
                        <label for="password">Current Password</label>
                        <input type="password" name="password" id="password" class="uk-input">
                    </div>

                    <div class="uk-width-1-2@m uk-width-1-1@s">
                        <label for="n_pass">New Password</label>
                        <input type="password" name="n_pass" id="n_pass" class="uk-input">
                    </div>
                    <div class="uk-width-1-2@m uk-width-1-1@s">
                        <label for="n_pass_c">Confirm New Password</label>
                        <input type="password" id="n_pass_c" class="uk-input">
                    </div>

                    <div class="uk-width-1-1 center">
                        <label for="gender">Gender</label>
                        Female <input type="radio" class="uk-radio" name="gender" id="g_f" value="f">
                        Male <input type="radio" class="uk-radio" name="gender" id="g_m" value="m">
                    </div>

                    {{>stateSel}}
                    <div class="uk-width-1-1 center">
                        <label for="state">Your State</label>
                        {{state}}: <input type="radio" class="uk-radio" checked="checked" name="stateRad" value="{{state_code}}">
                        Change State/District info: <input type="radio" class="uk-radio" uk-toggle="target: #stateSelModal" name="stateRad">
                    </div>

                    <div class="right uk-width-1-1">
                        <button id="saveBtn" class="button">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('saveBtn').addEventListener('click', (event) => {
            event.preventDefault();
            validate();
        });

        let gender = '{{gender}}';
        if(gender === 'f'){
            document.getElementById('g_f').setAttribute('checked', 'checked');
        }
        else {
            document.getElementById('g_m').setAttribute('checked', 'checked');
        }

        document.getElementById('bioTxt').addEventListener('input', count);
        let field = document.getElementById('bioTxt');
        let counter = document.getElementById('counter');
        function count() {
            let lt = field.value.length;
            counter.textContent = String(lt);
        }
        counter.textContent = String(field.value.length);

        function clearNotif() {
            setTimeout(() => {
                document.getElementById('notif').textContent = '';
            }, 6000);
        }

        function setNotif(notification) {
            document.getElementById('notif').textContent = notification;
            clearNotif();
        }

        function validate() {
            let f_name = document.getElementById('f_name').value;
            let username = document.getElementById('username').value;
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let n_pass = document.getElementById('n_pass').value;
            let n_pass_c = document.getElementById('n_pass_c').value;
            let gender = null;
            
            let genderRads = document.getElementsByName('gender');
            let genderIndex = 0;
            for(let i=0; i<2; i++){
                if(genderRads[i].checked){
                    genderIndex = i;
                }
            }

            if(genderIndex === 0){
                gender = 'f';
            }
            else {
                gender = 'm';
            }

            let wsp = /^\s*$/;
            let state = null;
            let fed_const = null;
            let sen_dist = null;

            let stateRads = document.getElementsByName('stateRad');
            let selRad = 0;

            for (let i = 0; i < 2; i++) {
                if (stateRads[i].checked) {
                    selRad = i;
                }
            }

            if (selRad === 1) {
                let selIndex = document.getElementById('state').selectedIndex;
                state = document.getElementById('state')[selIndex].value;
            }
            else {
                state = stateRads[selRad].value;
            }

            let selFC = document.getElementById('fed_const').selectedIndex;
            fed_const = document.getElementById('fed_const')[selFC].value;
            let selSD = document.getElementById('sen_dist').selectedIndex;
            sen_dist = document.getElementById('sen_dist')[selSD].value;

            if (wsp.test(f_name) || wsp.test(username) || wsp.test(email)) {
                setNotif("First Name, Username and Email are required");
            }
            else if (!wsp.test(password) || !wsp.test(n_pass)) {
                if (wsp.test(password) || wsp.test(n_pass) || wsp.test(n_pass_c)) {
                    setNotif("All password fields are compulsory");
                    return false;
                }
                else if (n_pass !== n_pass_c) {
                    setNotif("New password and confirmation do not match");
                    return false;
                }
                else {
                    update(f_name, username, email, password, n_pass, state, fed_const, sen_dist, gender);
                }
            }
            else {
                update(f_name, username, email, password, n_pass, state, fed_const, sen_dist, gender);
            }
        }

        function update(f_name, username, email, password, n_pass, state, fed_const, sen_dist, gender) {
            $.ajax({
                url: '/update/u/dets',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    f_name: f_name,
                    username: username,
                    email: email,
                    password: password,
                    n_pass: n_pass,
                    state: state,
                    fed_const: fed_const,
                    sen_dist: sen_dist,
                    gender: gender
                }),
                error: () => {
                    setNotif("An error occured connecting to the server. Please check your connection and try again");
                },
                success: (data) => {
                    if (data.success) {
                        location.reload(true);
                    }
                    else {
                        setNotif(data.reason);
                    }
                }
            });
        }

        document.getElementById('state').addEventListener('change', (el) => {
            let index = document.getElementById('state').selectedIndex;
            let key = document.getElementById('state')[index].value;
            //assuming the selected state is not the placeholder
            if (index !== -1) {

                //AJAX call for districts
                $.ajax({
                    url: '/users/signup/districts/' + key,
                    method: 'GET',
                    error: () => {
                        alert("Please check your Internet connection. An error occured");
                    },
                    success: (data) => {
                        //class returned districts into rep et fed
                        let sen_dists = [];
                        let fed_consts = [];

                        let districts = data.districts;
                        districts.forEach(district => {
                            if (district.type == 'sen') {
                                sen_dists.push(district);
                            }
                            else {
                                fed_consts.push(district);
                            }
                        });
                        let senSelect = document.createElement('select');
                        senSelect.setAttribute('name', 'sen_dist');
                        senSelect.setAttribute('class', 'uk-select');
                        senSelect.setAttribute('id', 'sen_dist');
                        let fedSelect = document.createElement('select');
                        fedSelect.setAttribute('name', 'fed_const');
                        fedSelect.setAttribute('class', 'uk-select');
                        fedSelect.setAttribute('id', 'fed_const');
                        //create and append options to selects

                        sen_dists.forEach(sen_dist => {
                            let opt = document.createElement('option');
                            opt.setAttribute('value', sen_dist.code);
                            opt.innerText = sen_dist.name;
                            senSelect.appendChild(opt);
                        });

                        fed_consts.forEach(fed_const => {
                            let opt = document.createElement('option');
                            opt.setAttribute('value', fed_const.code);
                            opt.innerText = fed_const.name;
                            fedSelect.appendChild(opt);
                        });

                        //append selects to form
                        document.getElementById('fed_const_div').innerHTML = '';
                        document.getElementById('sen_dist_div').textContent = '';

                        document.getElementById('fed_const_div').appendChild(senSelect);

                        document.getElementById('sen_dist_div').appendChild(fedSelect);
                    }
                });
            }
        });

        clearNotif();
    </script>
</body>